<div class="container">
  
  <div class="view-item" cdkDrag cdkDragBoundary=".container">
  
  </div>
  
  <cdk-virtual-scroll-viewport itemSize="50" cdkDrag cdkDragBoundary=".container">
    <div 
      *cdkVirtualFor="let artwork of artworks$" 
      class="item"
    >
      <img [src]="artwork.image_url" [alt]="artwork.title">
    </div>
  </cdk-virtual-scroll-viewport>

  <p *cdkPortal>
    The content of this template is captured by the portal.
  </p>

  <ng-template [cdkPortalOutlet]="userSettingsPortal"></ng-template>
</div>


