.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 45rem;

  .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 21px;
  }
}

.mat-dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  min-height: 45rem;
}