<header class="header">
  <div class="container">
    <div class="wrapper">
      <button
        class="settings-btn"
        *ngIf="isLogged"
        (click)="toggleSettings()"
      ></button>
      <div class="logo">Art gallery</div>
      <div class="auth-controls">
        <p *ngIf="isLogged">user name</p>
        <button>
          {{isLogged ? 'LogOut' : 'LogIn'}}
        </button>
      </div>
    </div>
    <ng-container *ngIf="isShowSettings">
      <app-settings></app-settings>
    </ng-container>
  </div>
</header>