<div class="settings">
  <div class="container">
    <p class="title">
      Sorting by:
    </p>
    <div class="btn-arrow-wrapper">
      <button class="title-btn" (click)="handleSort()">
        title
      </button>
      <p class="arrow" *ngIf="direction === 'asc'">&#8593;</p>
      <p class="arrow" *ngIf="direction === 'desc'">&#8595;</p>
    </div>
    <label class="filter-label">
      filter by word
      <input
        #input
        type="text"
        class="filter-field"
        (keyup)="handleFilter(input.value)"
      >
    </label>
  </div>
</div>
