@import '../../../shared/styles/variables.scss';

.settings {
  background-color: $color-sh;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.btn-arrow-wrapper {
  display: flex;
  margin: 0 10px;
  min-width: 105px;

  .title-btn {
    text-decoration: underline;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .arrow {
    margin: 0;
    font-weight: 700;
  }
}

.filter-label {
  margin: 0 10px;
  cursor: pointer;
}

.filter-field {
  flex: 1;
  height: 14px;
  padding: 5px;
  font-size: 12px;
  line-height: 14px;
  border: none;
 
}

.filter-field:focus {
  outline: none;
}
