@import '../../../shared/styles/variables.scss';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 100;
  color: $color-main;
  background-color: $color-bg-dark;

  .container {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .text {
    margin: 0;
    margin-left: auto;
    letter-spacing: 0.2rem;
  }
}