<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Artwork </th>
      <td mat-cell *matCellDef="let element"> 
        <img class="artwork-img" [src]="element.image_url" alt="artwork image">   
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="artist_title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Artist </th>
      <td mat-cell *matCellDef="let element"> {{element.artist_title | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date display </th>
      <td mat-cell *matCellDef="let element"> {{element.date_display}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

</table>

<mat-paginator 
  [pageSizeOptions]="[5, 10, 25, 100]" 
  aria-label="Select page of artworks">
</mat-paginator>
  