table {
  width: 100%;
}
  
.mat-form-field {
  width: 30rem;
  font-size: 1.8rem;
}

.mat-cell, .mat-header-cell {
  width: 25%;
  padding: 2rem;
  font-size: 1.8rem;
}

.mat-header-cell {
  font-weight: 700;
}

.artwork-img {
  width: 20rem;
  height: 20rem;
}